*{
  padding: 0;
  margin: 0;
}
.border{
  background-color: white;
  display: flex;
  height: 100px;
  padding-left: 20px;
  float: left;
}
.space{
  padding-top: 35px;
  padding-left: 12px;
  

}
.sign{
  
  text-decoration: none;
  color: #4e547e;
  display: flex;
  text-align: center;
  
}
.signn{
  
  
text-decoration: none;
color: #050505;
/* border: solid; */
background-color: #fff;
margin-left: 32px;
font-size: 23px;
padding: 10px;
border-radius: 8px;
box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;

}
.signn:hover{
background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.none{
  text-decoration: none;
  color: #4e547e;
  
}
.image{
  height: 99px;
}
.text{
  max-width: 539px;
  padding-left: 20px;
  
}
.edit{
  color: #6e0aef;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  padding-top: 40px;
  padding-left: 60px;
  

}
.color{
  background-color: #f8f7fc;

}
.mar{
  margin-bottom: 3rem;
  padding-left: 60px;
}
.im{
  float: right;
  margin-top: -330px;

}
.imm{
  height: 425px;
  width: 499px;


}
.full{
  height: 467px;
  margin-top: 81px;


}


















/* Features section */
section.features {
  padding: 2rem 0;
  background-color: #f8f7fc;
}

section.features .features-section {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features-section h4 {
  color: #6e0aef;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.features-section .qualities {
  display: flex;
  justify-content: space-between;
}

.features-section .qualities .quality {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 2rem;
  max-width: 17rem;
  border-radius: 1rem;
  margin: 1rem 1rem;
}

.features-section .qualities .quality:hover {
  border: 2px solid #6e0aef;
}

.qualities .quality i {
  font-size: 2rem;
  color: #6e0aef;
  margin-bottom: 1rem;
}

.qualities .quality h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.qualities .quality p {
  font-size: 1.2rem;
  text-align: center;
  color: #4e547e;
}













/*phoness */
/*منتجات*/



.cards {
  margin: 0 auto;
  max-width: 1194px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  font-family: sans-serif;
  padding-top: 30px;
}

.cards * {
  box-sizing: border-box;
}

.card__image {
  width: 100%;
  height: 362px;
  object-fit: cover;
  display: block;
  margin-top: 43px;
  padding: 16px;
  
}

.card__content {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  
  
}

.card__content > p:first-of-type {
  margin-top: 0;
}

.card__content > p:last-of-type {
  margin-bottom: 0;
}

.card__info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555555;
  background: #eeeeee;
  font-size: 0.8em;
  
}
.card{
  border-radius: 45px;
   border: solid 2px;
   color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.card:hover {
  background-color: white;
  box-shadow: 0px 15px 20px rgba(49, 46, 229, 0.4);
  color: #0a0909;
  transform: translateY(-7px);
}

.card:active {
  transform: translateY(-1px);
}




.card__info i {
  font-size: 0.9em;
  margin-right: 8px;
}

.card__link {
  color: #64968c;
  text-decoration: none;
}

.card__link:hover {
  text-decoration: underline;
}



button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  
}

button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}







































@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #1a2a1a;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




